* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

h1, h2 {
  color: #00ffcc;
  margin-bottom: 15px;
  text-align: center;
}

.products {
  display: flex;
  flex-direction: column;
}

.product {
  border: 2px solid #00ffcc;
  border-radius: 10px;
  padding: 16px;
  background-color: #3c3c3c;
  margin-bottom: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 255, 204, 0.5);
}

.product h2 {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.product p {
  font-size: 1.2em;
  margin: 0 0 10px;
}

button {
  background-color: #00ffcc;
  color: #1a1a1a;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #00cc99;
  transform: translateY(-2px);
}

.cart {
  border: 2px solid #00ffcc;
  border-radius: 10px;
  padding: 16px;
  margin-top: 20px;
  background-color: #3c3c3c;
}

.total {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.clear-cart {
  margin-top: 20px;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #00ffcc;
  background: #01080E;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.clear-cart:hover {
  background: #00ffcc;
  color: #01080E;
  transform: translateY(-2px);
}
